<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns        = "http://www.w3.org/ns/widgets"
		    xmlns:gap    = "http://phonegap.com/ns/1.0"
		    id           = "com.technical.english"
		    versionCode  = "13"
		    version      = "1.0.3">

		    <!-- Название приложения -->
		    <name>Технический английский</name>

		    <!-- Описание приложения -->
		    <description>Данный словарь является сборником терминов, словосочетаний и сокращений по прикладному и системному программному обеспечению, микропроцессорам, базам данных, компьютерным сетям и информационным технологиям. Словарь предназначен для пользователей персональных компьютеров и специалистам в области информационных технологий.</description>

		    <!-- Автор -->
		    <author href="https://artemsannikov.ru" email="info@artemsannikov.ru">
		    	Artem Sannikov
		    </author>

		    <!-- Иконки для платформы Android -->
			<platform name="android">
				<icon density="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
				<icon density="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
				<icon density="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
				<icon density="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
				<icon density="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
				<icon density="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>
			</platform>

			<!-- Стартовая страница -->
			<content src="index.html"></content>

			<!-- Разрешения -->
			<preference name="permissions" value="none"/>
			<!--<preference name="fullscreen" value="true" />-->
			<preference name="AllowInlineMediaPlayback" value="true" />
			<preference name="InAppBrowserStorageEnabled" value="true" />
			
			<!-- Whilelist plugin cordova -->
			<plugin name="cordova-plugin-whitelist" spec="1" />

			<!-- Доступ к web сайтам -->
			<access origin="*" />
			<allow-intent href="http://*/*" />
			<allow-intent href="https://*/*" />
			<allow-intent href="tel:*" />
			<allow-intent href="sms:*" />
			<allow-intent href="mailto:*" />
			<allow-intent href="geo:*" />
			<platform name="android">
				<allow-intent href="market:*" />
			</platform>

	</widget>